*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
*.html_*
*.csv
*.pdf
*.ico
*.json
*.php_*
*.js_*
*.png
*.PNG
*.jpg
*.JPG
*.gif
*.GIF
*.svg
*.SVG
*.eot
*.ttf
*.woff
*.woff2
*.psd
*.log

20160408_公式サイトリニューアル.lnk
.bash_history
.bash_logout
.bash_profile
.bashrc
.emacs
logs
Maildir
public_html
.ssh
.viminfo

/public_htmls/.htaccess_20160705
/public_htmls/.htaccess_20160712
/public_htmls/.htaccess_20160816
/public_htmls/.htaccess_20160830
/public_htmls/.htaccess_20161219
/public_htmls/.htaccess_20170110
/public_htmls/.htaccess_20171026
/public_htmls/assets/lib/pure-drawer/src
/public_htmls/about_20160705
/public_htmls/assets_20160705
/public_htmls/assets_20160711
/public_htmls/bin
/public_htmls/campaign2
/public_htmls/campaign3
/public_htmls/_column
/public_htmls/criteoimage
/public_htmls/csv
/public_htmls/csv_bbk
/public_htmls/design
/public_htmls/Gruntfile.js
/public_htmls/images
/public_htmls/license.txt
/public_htmls/lp1
/public_htmls/lp1_test
/public_htmls/lp2_test
/public_htmls/lp4
/public_htmls/mail
/public_htmls/newring2
/public_htmls/newring_20160712
/public_htmls/newring3
/public_htmls/newring3_20160711
/public_htmls/output
/public_htmls/package.json
/public_htmls/phpmyadmin
/public_htmls/privacy_boutique
/public_htmls/ring-detail-cord-2.html
/public_htmls/ring-list.html_
/public_htmls/ring-list-test.html
/public_htmls/service_20160706
/public_htmls/shops-build
/public_htmls/sitemanager
/public_htmls/sitemap
/public_htmls/speed_test
/public_htmls/srdm
/public_htmls/test
/public_htmls/testbk
/public_htmls/test_movie
/public_htmls/the-reservation_20160607
/public_htmls/top

# sp
/public_htmls/sp/*
!/public_htmls/sp/about
!/public_htmls/sp/assets
/public_htmls/sp/assets/css/about.css_20171102
/public_htmls/sp/assets/css/flagship_2018.css
/public_htmls/sp/assets/css/index.css_20160720
/public_htmls/sp/assets/css/index.css_20161019
/public_htmls/sp/assets/css/index.css_20171102
/public_htmls/sp/assets/css/lp_20160923.css
/public_htmls/sp/assets/css/lp_20160923.css_20170104
/public_htmls/sp/assets/css/newring.css_20161017
/public_htmls/sp/assets/css/ring.css_20160720
/public_htmls/sp/assets/css/style.css_20160819
/public_htmls/sp/assets/css/style.css_20161021
/public_htmls/sp/assets/img/index/fig-mostb.png_20160721
/public_htmls/sp/assets/img/service/fig-03.jpg_20160110
/public_htmls/sp/assets/include/footer-footnavi.inc_20161019
/public_htmls/sp/assets/include/footer-footreserve-links.inc_20161019
/public_htmls/sp/assets/include/footer-footreserve-links.inc_20180104
/public_htmls/sp/assets/include/footer.inc_20160715
/public_htmls/sp/assets/include/sidemenu.inc_20160725
/public_htmls/sp/assets/include/sidemenu.inc_20160726
/public_htmls/sp/assets/include/sidemenu.inc_20161019
!/public_htmls/sp/campaign
!/public_htmls/sp/collection
!/public_htmls/sp/columns-cat1.html
!/public_htmls/sp/columns-cat2.html
!/public_htmls/sp/columns-cat3.html
!/public_htmls/sp/columns-detail.html
!/public_htmls/sp/columns.html
!/public_htmls/sp/common
!/public_htmls/sp/company
/public_htmls/sp/company/_index.php
!/public_htmls/sp/csr
!/public_htmls/sp/faq
!/public_htmls/sp/feature
!/public_htmls/sp/history
!/public_htmls/sp/include
!/public_htmls/sp/index.html
!/public_htmls/sp/index.php
!/public_htmls/sp/js
!/public_htmls/sp/mylazare
!/public_htmls/sp/newring
!/public_htmls/sp/privacy
!/public_htmls/sp/readme.html
!/public_htmls/sp/ring-collection.html
!/public_htmls/sp/ring-collection.php
!/public_htmls/sp/ring-detail-cord.html
!/public_htmls/sp/ring-detail.html
!/public_htmls/sp/ring-detail-lb.html
!/public_htmls/sp/ring-list.html
!/public_htmls/sp/ring_top.html
!/public_htmls/sp/service
!/public_htmls/sp/shop_detail.html
!/public_htmls/sp/shop-list-lb.html
!/public_htmls/sp/sns
!/public_htmls/sp/the-reservation
!/public_htmls/sp/topics-detail.html
!/public_htmls/sp/topics.html
!/public_htmls/sp/zoom.html
!/public_htmls/sp/zoom.php

# sp wordpress
!/public_htmls/sp/wp-content
/public_htmls/sp/wp-content/*
!/public_htmls/sp/wp-content/themes
/public_htmls/sp/wp-content/themes/*
!/public_htmls/sp/wp-content/themes/lazarediamond
/public_htmls/sp/wp-content/themes/lazarediamond/front-page_20171113.php

# wordpress
/public_htmls/wordpress
/public_htmls/wp-activate.php
/public_htmls/wp-admin
/public_htmls/wp_bk_4.1.1
/public_htmls/wp-blog-header.php
/public_htmls/wp-comments-post.php
/public_htmls/wp-config.php
/public_htmls/wp-config-sample.php
/public_htmls/wp-content/*
!/public_htmls/wp-content/themes
/public_htmls/wp-content/themes/*
!/public_htmls/wp-content/themes/lazarediamond
/public_htmls/wp-content/themes/lazarediamond/archive-coordinate_20161026.php
/public_htmls/wp-content/themes/lazarediamond/archive-engagement_20161026.php
public_htmls/wp-content/themes/lazarediamond/archive-eternity_20161026.php
public_htmls/wp-content/themes/lazarediamond/archive-jewelry_20161026.php
public_htmls/wp-content/themes/lazarediamond/archive-marriage_20161026.php
public_htmls/wp-content/themes/lazarediamond/front-page_20171113.php

/public_htmls/wp-cron.php
/public_htmls/wp-includes
/public_htmls/wp-links-opml.php
/public_htmls/wp-load.php
/public_htmls/wp-login.php
/public_htmls/wp-mail.php
/public_htmls/wp-settings.php
/public_htmls/wp-signup.php
/public_htmls/wp-trackback.php
/public_htmls/xmlrpc.php
